! xTerm resources
! Remember to run `xrdb < .Xresources` after changing anything.
xterm*selectToClipboard: true
xterm*disallowedWindowOps: 20,21,SetXProp
!

! Set the default UI font (menus, toolbar, etc)
XTerm*XftFont:                  Hack Nerd Font:size=12:antialias=true:style=Regular

! Color of UI Components
XTerm*.SimpleMenu.background:   #ffffff
XTerm*.SimpleMenu.foreground:   #000000

! Tone down the Xaw3D effect.
XTerm*shapeStyle:               Rectangle
XTerm*beNiceToColormap:         false
XTerm*relief:                   None
XTerm*highlightThickness:       0

! Dont automatically jump to the bottom on output, but do on keypress.
XTerm*scrollTtyOutput:          false
XTerm*scrollKey:                true
XTerm*scrollBar:                false
XTerm*eightBitInput:            false
XTerm*cursorBlink:              true

! Dont allow mouse ops - it can be enabled in the view Menu at runtime.
! The reason is it breaks copy/paste if an application requests mouse events,
! because the application gets the event instead of XTerm.
XTerm*allowMouseOps:            false

! Dont change my title by default, this can be re-enabled from the menu.
XTerm*allowTitleOps:            false
XTerm*allowFontOps:             false

! Mouse cursor configuration, I prefer to keep it simple.
XTerm*pointerColor:             white
XTerm*pointerColorBackground:   black
XTerm*pointerShape:             left_ptr

! Only select text, not empty space around it.
XTerm*highlightSelection:       true

! The distance between the edge of the screen and the characters.
XTerm*vt100.internalBorder:     6

! The border around elements.
XTerm*.BorderColor:             #ffffff
XTerm*vt100.BorderColor:        #d0d0d0
XTerm*BorderWidth:              0

! Menu Names, I dont like the default verbose names.
XTerm*.mainMenu.label:          File
XTerm*.vtMenu.label:            Options
XTerm*.fontMenu.label:          View

! You can rename menu entries, like this, I dont know why the menubar
! is called a "toolbar", probably historical reasons.
XTerm*.mainMenu.toolbar.label:  Menubar

! Adjust how the active menu item looks
XTerm*.SimpleMenu.*.shadowWidth: 3
XTerm*.SimpleMenu.*.topShadowPixel: SkyBlue
XTerm*.SimpleMenu.*.bottomShadowPixel: LightSkyBlue

! Try to hide the useless title displayed at the top of menus, I know what
! menu it is because I just clicked it.
XTerm*.*.menuLabel.vertSpace:   0
XTerm*.*.menuLabel.foreground:  #ffffff
XTerm*.*.menuLabel.XftFont:     Courier:size=0

! Space around menu entries.
XTerm*.SimpleMenu.*.topMargin:  0
XTerm*.SimpleMenu.*.bottomMargin: 0
XTerm*.SimpleMenu.*.leftMargin: 32
XTerm*.SimpleMenu.*.rightMargin: 64
! The height of each menu entry, the default calculates it from font size.
! XTerm*.SimpleMenu.*.rowHeight: 16

! Space around the checkmark in the menus.
XTerm*.SimpleMenu.*.leftWhitespace: 16
!XTerm*.SimpleMenu.*.rightWhitespace: 8

! Trim vertical padding around the toolbar, all elements have a form.
XTerm*Form.menubar.vSpace:      0
XTerm*Form.menubar.vertDistance: 0
!XTerm*Form.menubar.foreground: #000000
!XTerm*Form.menubar.background: #ffffff
!XTerm*Form.menubar.Thickness:  0

! Fonts
XTerm*vt100.faceName:           xft:Hack Nerd Font:size=12:antialias=true:style=Regular
XTerm*vt100.boldFont:           xft:Hack Nerd Font:size=18:antialias=true:style=Bold


UXTerm*vt100.faceName:           xft:Hack Nerd Font:size=12:antialias=true:style=Regular
UXTerm*vt100.boldFont:           xft:Hack Nerd Font:size=18:antialias=true:style=Bold



! Size and Title
XTerm*vt100.geometry:           100x30
XTerm*title:                    Terminal
XTerm*iconHint:                 /home/taviso/.icons/computer_x11.xpm

! Terminal Colors
XTerm*vt100.background:     #1A1B26
XTerm*vt100.foreground:     #ACB0D0
XTerm*cursorColor:          #ffffff

! I like bold items to be in bright white.
XTerm*veryBoldColors:       4
XTerm*colorBDMode:          true
XTerm*colorBD:              #ffffff
XTerm*colorRV:              #ffffff

! I can see a small line between box characters, this fixes it.
XTerm*forceBoxChars:        true
XTerm*vt100.scaleHeight:    1.04

! This (or similar id) is required for Sixel support.
XTerm*decTerminalID:        vt382


!  XTerm Translations, i.e. keyboard remapping.
!
! Notes:
!   ~       means that that modifier must not be asserted.
!   !       means that the listed modifiers must be in the correct state and
!               no other modifiers can be asserted.
!   None    means no modifiers can be asserted.
!   :       directs the Intrinsics to apply any standard modifiers in the event.
!   ^       is an abbreviation for the Control modifier.
!   $       is an abbreviation for Meta
!
! Example:
!   No modifiers:                          None <event> detail
!   Any modifiers:                              <event> detail
!   Only these modifiers:           ! mod1 mod2 <event> detail
!   These modifiers and any others:   mod1 mod2 <event> detail

! Below:
!
! - I have some old apps that use Alt-F4, but thats sometimes difficult to
!       press so Ctrl-Shift-F4 does the same thing.
! - Ctrl-MouseWheel can be used to increase and descrease font size.
! - Ctrl-I is totally useless, because it is literally impossible for
!       applications to differentiate it from Tab. You can remap it to some
!       other harder-to-press keybinding here, I use it for Italics in
!       wordperfect.

XTerm*vt100.translations:   #override           \n\
    Ctrl Shift <Key>F4:     string("\033[1;3S") \n\
  ! Ctrl <Btn4Up>:          larger-vt-font()    \n\
  ! Ctrl <Btn5Up>:          smaller-vt-font()   \n\
    ^<Key>I:                string("\014")      \n\

/* ------------------------------------------------------------------------- */

!! URxvt Appearance
/* URxvt.font: xft:JetBrainsMono Nerd Font:size=13 */
! use more fonts to avoid issues
URxvt.font:   xft:Hack Nerd Font Mono:regular:size=12, \
              xft:WenQuanyi Micro Hei Mono:regular:size=12, \

URxvt.letterSpace: -1
URxvt.lineSpace: 0
/*URxvt.geometry: 92x24 */
URxvt.internalBorder: 10
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt.termName : rxvt-unicode-256color

URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Disable ctrl + shift (insert picture mode)
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common:        default,matcher,resize-font,clipboard,resize-font,url-select,keyboard-select

! Resize fonts
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

! Open url
URxvt.url-select.launcher:    google-chrome-stable
URxvt.url-select-underline:   true
URxvt.colorUL:                #80d3f9

URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.keysym.M-o:             perl:keyboard-select:activate

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.keysym.Control-V: eval:paste_clipboard
URxvt.keysym.Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.keysym.C-M-c: builtin-string:

URxvt.perl-ext-common: default

URxvt.clipboard.autocopy: true

Xft.dpi: 96
Xft.Hinting: 1
Xft.RGBA: rgb
Xft.HintStyle: hintslight
Xft.Antialias: 1


! color scheme
!
! special
*.foreground:    #A9B1D6
*.background:    #1A1B26
*.cursorColor:   #A9B1D6
*.highlightColor:#3A3F4B

!*fading:                  40
!*fadeColor:               S_base03
!*pointerColorBackground:  S_base01
!*pointerColorForeground:  S_base1

! Normal      Bright
! --------    -------
! 0 Black      8 Black
! 1 Red        9 Red
! 2 Yellow    10 Yellow
! 3 Green     11 Green
! 4 Blue      12 Blue
! 5 Magenta   13 Magenta
! 6 Cyan      14 Cyan
! 7 White     15 White

! Black colours
*.color0:        #1A1B26
*.color8:        #4E5173

! Red colours
*.color1:        #F7768E
*.color9:        #E06C75

! Yellow colours\ This is the right call
*.color2:        #9ECE6A
*.color10:       #98C379

! Green colours\ This is the right call
*.color3:        #E0AF68
*.color11:       #D19A66

! Blue colours
*.color4:        #7AA2F7
*.color12:       #61AFEF

! Magenta (pink, !green) colours
*.color5:        #9A7ECC
*.color13:       #C678DD

! Cyan (blue + green)
*.color6:        #4ABAAF
*.color14:       #56B6C2

! White colours
*.color7:        #ACB0D0
*.color15:       #ABB2BF

